[submodule "tp-01/helloworld"]
	path = tp-01/helloworld
	url = https://github.com/biromiro/helloworld.git
[submodule "tp-01/operations"]
	path = tp-01/operations
	url = https://github.com/biromiro/operations.git
